<div class="list">
  <a href="#" class="item item-icon-left">
    <i class="icon ion-email"></i>
    Email
    <span class="item-note">Send</span>
  </a>
  <div class="item item-divider">Dividder</div>
  <a href="#" class="item item-icon-left item-icon-right">
    <i class="icon ion-chatbubble-working"></i>
    Email
    <i class="icon ion-ionic"></i>
  </a>
  <a href="#" class="item">
    Item 03
    <span class="badge badge-assertive">3</span>
  </a>
  <a href="#" class="item item-button-right">
    Item 04
    <button class="button button-assertive">
      <i class="icon ion-person"></i>
    </button>
  </a>
  <a href="#" class="item item-avatar">
  <img src="http://placehold.it/100x100" alt="avatar"/>
  Item 05
  </a>
</div>