<div id="sign-up-info" class="list">
  <label class="item item-input">
    <span class="input-label">First Name</span>
    <input type="text" class="text" placeholder="Your first Name">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Last Name</span>
    <input type="text" class="text" placeholder="Your last Name">
  </label>
  <div class="item item-checkbox">
    <label class="checkbox">
      <input type="checkbox">
    </label>
    <span class="input-label">Rockstar</span>
  </div>
  <div class="item item-radio">
    <input type="radio" name="social">
  </div>
  <label class="item item-radio">
    <input type="radio" name="social">
    <div class="item-content">Facebook</div>
    <i class="radio-icon ion-social-facebook"></i>
  </label>
  <label class="item item-radio">
    <input type="radio" name="social">
    <div class="item-content">Youtube</div>
    <i class="radio-icon ion-social-youtube"></i>
  </label>
  <div class="item item-toggle">
    <span class="input-label">Awesomeness</span>
    <label class="toggle">
      <input type="checkbox">
      <div class="track"><div class="handle"></div></div>
    </label>
  </div>
  <div class="item range range-royal">
    <i class="icon ion-sad-outline"></i>
    <input type="range" name="feeling" min="0" max="100" value="50">
    <i class="icon ion-sad-outline"></i>
  </div>
  <label class="item item-input item-select">
    <span class="input-label">Favorite Pet</span>
    <select >
      <option value="Dog">Dog</option>
      <option value="Cat">Cat</option>
      <option value="Llamas">Llamas</option>
    </select>
  </label>
</div>